{% extends "layouts/main.html" %}

{% set pageName="using-a-look" %}

{% block pageTitle %}
  Using a Look – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Examples using a Looker Look
      </h1>

      <h2 class="govuk-heading-m">
        Metric from a Look
      </h2>

{% endblock %}